body {
    background-color: black;
    font-family:"Segoe UI," sans-serif;
    margin: 0;
    padding: 0;
}

.todo-box {
    width: 520px;
    background: black;
    margin: 60px auto;
    padding: 32px 32px 24px;
    border-radius: 18px;
    box-shadow: 0px 24px 60px rgba(0, 104, 61, 0.45);
    border:1px solid #0bff8d;
}


.todo-box h1 {
    font-size: 42px;
    font-weight: 800px;
    color: #6aac96;
    letter-spacing: 1px;
}

.font-control {
    background: #0b6b2b;
    border: 1px solid #0a5c47;
    color: #004b1d;
    border-radius: 12px;
}

.font-control::placeholder {
    color: #025334;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    padding: 14px 4px;
    font-size: 20px;
    border-bottom: 1px solid rgba(5, 167, 86, 0.018);
    color: #78ca86;
}

.todo-item:hover {
    background: rgba(139 80, 255, 0.28);
    border-radius: 8px;
    transition: 0.25s ease;
}

.delete-btn {
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s;
    color: #ff0000;
    font-weight: 700;
}

.todo-item:hover    .delete-btn{
        opacity: 1;
}

.count {
    margin-top: 20px;
    color: #00ff22;
    text-align: left;
    font-size: 14px;
}

.empty-msg{
    padding: 19px;
    color: #03bd22;
    font-size: 18px;
    text-align: center;
    opacity: 0.7;
    font-style: italic;
    letter-spacing: 1px;
}